In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import xlrd

# Cause plots to be displayed in the notebook:
%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [11]:
# Importing xls file
df = pd.read_excel('../Assignment/finresults.xlsx')

In [12]:
df.head()

,ASX Code,Company Name,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,14D,1414 Degrees Limited,Annual Balance Sheet - CA Cash,,,,,,,,28795000,,9721192,4395479
1,14D,1414 Degrees Limited,Annual Balance Sheet - Total Current Assets,,,,,,,,30163000,,12385751,5975166
2,14D,1414 Degrees Limited,Annual Balance Sheet - Total Assets,,,,,,,,32183000,,17630283,17213774
3,1AD,AdAlta Limited,Annual Balance Sheet - CA Cash,,,,,,,10710530,6224617,2306048,5555875,3366503
4,1AD,AdAlta Limited,Annual Balance Sheet - Total Current Assets,,,,,,,10729361,8087290,4436348,9169316,6730894