<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [0]:
# create a list of 10 student (use just first name)
students = ???

In [0]:
# Print the list
???

In [0]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for ???:
    print(f'???')

In [0]:
# print the list of students in reverse order one student in a line with its index
???
for ???
    ???

In [1]:
students = ['aston', 'joel', 'vidya', 'ashley', 'joseph', 'minh', 'uchenna', 'datalounge', 'jess', 'jason']

In [3]:
students_reversed = students.copy()
students_reversed.reverse()
for i, k in enumerate(students_reversed):
    print(i, k)

0 jason
1 jess
2 datalounge
3 uchenna
4 minh
5 joseph
6 ashley
7 vidya
8 joel
9 aston

In [0]:
# print the student list in random order
# hint look up the function random.sample
??? random
??? = random.sample(???)
???

In [0]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
??? = dict(zip(???))
print(f"Students and their marks: \n {studentsAndMarks}")
???

In [16]:
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))

In [17]:
studentsAndMarks

{'aston': 87,
 'joel': 45,
 'vidya': 76,
 'ashley': 64,
 'joseph': 66,
 'minh': 90,
 'uchenna': 55,
 'datalounge': 73,
 'jess': 69,
 'jason': 75}

In [37]:
for i in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True):
    print(i, studentsAndMarks[i])

minh 90
aston 87
vidya 76
jason 75
datalounge 73
jess 69
joseph 66
ashley 64
uchenna 55
joel 45

In [32]:
key =studentsAndMarks.get

In [11]:
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))
print(f"Students and their marks: \n {studentsAndMarks}")
for student in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True ):
  print(f"{student:10s}:{studentsAndMarks[student]}")

Students and their marks:
 {'aston': 87, 'joel': 45, 'vidya': 76, 'ashley': 64, 'joseph': 66, 'minh': 90, 'uchenna': 55, 'datalounge': 73, 'jess': 69, 'jason': 75}
minh      :90
aston     :87
vidya     :76
jason     :75
datalounge:73
jess      :69
joseph    :66
ashley    :64
uchenna   :55
joel      :45