In [4]:
x = int(1.9)
x

1

In [5]:
x = float(3)
x

3.0

In [6]:
my_list = ['a', 'b', 'c']

In [7]:
my_list.append('d')

In [9]:
my_list.insert(1, 'f')

In [10]:
my_list

['a', 'f', 'b', 'c', 'd']

In [11]:
my_list.pop(1)

'f'

In [12]:
my_list

['a', 'b', 'c', 'd']

In [16]:
import os
import numpy as np
import pandas as pd

os.chdir('/Users/jinyang/Desktop/Institute_of_Data/IOD_2020_JIN/data/')

df = pd.read_csv('Employee-attrition.csv')

In [17]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [22]:
df.groupby('age').size().head()

age
19    158
20    408
21    703
22    815
23    960
dtype: int64

In [26]:
df.groupby('age')['EmployeeID'].size().head()

age
19    158
20    408
21    703
22    815
23    960
Name: EmployeeID, dtype: int64

In [40]:
def division(a,b):
    if b == 0: 
        print("error")
    else:
        c = a/b
        print(c)
    return c
division(20,0)

error

UnboundLocalError: local variable 'c' referenced before assignment