In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import xlrd

# Cause plots to be displayed in the notebook:
%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
# Importing xls file
df1 = pd.read_excel('../Financial/finresults (1).xlsx')
df2 = pd.read_excel('../Financial/finresults (2).xlsx')
df3 = pd.read_excel('../Financial/finresults (3).xlsx')

In [4]:
df1.head()

,ASX Code,Company Name,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,14D,1414 Degrees Limited,Annual Cash Flow - Net Operating Cash Flow,,,,,,,,--,,-4134023,-2607214
1,14D,1414 Degrees Limited,Annual Balance Sheet - CA Cash,,,,,,,,28795000,,9721192,4395479
2,14D,1414 Degrees Limited,Annual Balance Sheet - CA Inventories,,,,,,,,0,,0,0
3,14D,1414 Degrees Limited,Annual Balance Sheet - Total Current Assets,,,,,,,,30163000,,12385751,5975166
4,14D,1414 Degrees Limited,Annual Balance Sheet - Total Assets,,,,,,,,32183000,,17630283,17213774

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21690 entries, 0 to 21689
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ASX Code      21690 non-null  object
 1   Company Name  21690 non-null  object
 2   Item          21690 non-null  object
 3   2010          21690 non-null  object
 4   2011          21690 non-null  object
 5   2012          21690 non-null  object
 6   2013          21690 non-null  object
 7   2014          21690 non-null  object
 8   2015          21690 non-null  object
 9   2016          21690 non-null  object
 10  2017          21690 non-null  object
 11  2018          21690 non-null  object
 12  2019          21690 non-null  object
 13  2020          21690 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

In [17]:
df1['Item'].unique()

array(['Annual Cash Flow - Net Operating Cash Flow',
       'Annual Balance Sheet - CA Cash',
       'Annual Balance Sheet - CA Inventories',
       'Annual Balance Sheet - Total Current Assets',
       'Annual Balance Sheet - Total Assets',
       'Annual Balance Sheet - Total Curr. Liabilities',
       'Annual Balance Sheet - Total Liabilities',
       'Annual Balance Sheet - CL Short-Term Debt',
       'Annual Balance Sheet - NCL Long-Term Debt',
       'Annual Balance Sheet - Total Equity'], dtype=object)

In [12]:
df1_pivot = df1.pivot(index='ASX Code', columns='Item', values='2010')
df1_pivot.head()

Item,Annual Balance Sheet - CA Cash,Annual Balance Sheet - CA Inventories,Annual Balance Sheet - CL Short-Term Debt,Annual Balance Sheet - NCL Long-Term Debt,Annual Balance Sheet - Total Assets,Annual Balance Sheet - Total Curr. Liabilities,Annual Balance Sheet - Total Current Assets,Annual Balance Sheet - Total Equity,Annual Balance Sheet - Total Liabilities,Annual Cash Flow - Net Operating Cash Flow
ASX Code,,,,,,,,,,
14D,,,,,,,,,,
1AD,,,,,,,,,,
1AG,271919,282857,1046419,59535,8940993,3922626,2336530,4958832,3982161,-417821
1ST,,,,,,,,,,
2BE,,,,,,,,,,