<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 9.6: Sentiment Analysis
INSTRUCTIONS:
- Run the cells
- Observe and understand the results
- Answer the questions

Based on the video tutorial **Text Classification with Machine Learning,SpaCy and Scikit(Sentiment Analysis)** by **Jesse E. Agbe (JCharis)**.

## Data Source: UCI
### UCI - Machine Learning Repository
- Center for Machine Learning and Intelligent Systems

The [**UCI Machine Learning Repository**](http://archive.ics.uci.edu/ml/about.html) is a collection of databases, domain theories, and data generators that are used by the machine learning community for the empirical analysis of machine learning algorithms.

### Dataset
- [Sentiment Labelled Sentences Data Set](http://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences)

### Abstract
The dataset contains sentences labelled with positive or negative sentiment.

- Data Set Characteristics: Text
- Number of Instances: 3000
- Area: N/A
- Attribute Characteristics: N/A
- Number of Attributes: N/A
- Date Donated: 2015-05-30
- Associated Tasks: Classification
- Missing Values? N/A
- Number of Web Hits: 102584

### Source
Dimitrios Kotzias dkotzias '@' ics.uci.edu

### Data Set Information
This dataset was created for the Paper 'From Group to Individual Labels using Deep Features', Kotzias et. al,. KDD 2015

Please cite the paper if you want to use it :)

It contains sentences labelled with positive or negative sentiment.

### Format
sentence &lt;tab&gt; score &lt;newline&gt;

### Details
Score is either 1 (for positive) or 0 (for negative)

The sentences come from three different websites/fields:
- imdb.com
- amazon.com
- yelp.com

For each website, there exist **500 positive** and **500 negative** sentences. Those were selected randomly for larger datasets of reviews.

We attempted to select sentences that have a clearly positive or negative connotaton, the goal was for no neutral sentences to be selected.

For the full datasets look:

- **imdb**: Maas et. al., 2011 _Learning word vectors for sentiment analysis_
- **amazon**: McAuley et. al., 2013 _Hidden factors and hidden topics: Understanding rating dimensions with review text_
- **yelp**: [Yelp dataset challenge](http://www.yelp.com/dataset_challenge)


### Attribute Information
The attributes are text sentences, extracted from reviews of products, movies, and restaurants

### Relevant Papers
**From Group to Individual Labels using Deep Features**, Kotzias et. al,. KDD 2015

### Citation Request
**From Group to Individual Labels using Deep Features**, Kotzias et. al,. KDD 2015

## Import libraries

In [1]:
## Import Libraries
import pandas as pd

import regex as re
import spacy

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

import warnings
warnings.filterwarnings('ignore')

## Load data

Load Yelp, Amazon and Imdb Data.

Hint: Source is separated by <tab>s and has no headers.

In [2]:
yelp_text = 'yelp_labelled.txt'
imdb_text = 'imdb_labelled.txt'
amazon_text = 'amazon_cells_labelled.txt'

# ANSWER

In [3]:
import csv

# yelp
with open(yelp_text) as f:
    reader = csv.reader(f, delimiter="\t")
    d = list(reader)
    yelp_df = pd.DataFrame(d)

# imdb_text
with open(imdb_text) as f:
    reader = csv.reader(f, delimiter="\t")
    d = list(reader)
    imdb_df = pd.DataFrame(d)

# amazon_text
with open(amazon_text) as f:
    reader = csv.reader(f, delimiter="\t")
    d = list(reader)
    amazon_df = pd.DataFrame(d)

## Inspect the data

Check your datasets.

In [4]:
yelp_df

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  I think food should have flavor and texture an...  0
996                           Appetite instantly gone.  0
997  Overall I was not impressed and would not go b...  0
998  The whole experience was underwhelming, and I ...  0
999  Then, as if I hadn't wasted enough of my life ...  0

[1000 rows x 2 columns]

In [5]:
imdb_df

                                                     0  1
0    A very, very, very slow-moving, aimless movie ...  0
1    Not sure who was more lost - the flat characte...  0
2    Attempting artiness with black & white and cle...  0
3         Very little music or anything to speak of.    0
4    The best scene in the movie was when Gerardo i...  1
..                                                 ... ..
743  I just got bored watching Jessice Lange take h...  0
744  Unfortunately, any virtue in this film's produ...  0
745                   In a word, it is embarrassing.    0
746                               Exceptionally bad!    0
747  All in all its an insult to one's intelligence...  0

[748 rows x 2 columns]

In [6]:
amazon_df

                                                     0  1
0    So there is no way for me to plug it in here i...  0
1                          Good case, Excellent value.  1
2                               Great for the jawbone.  1
3    Tied to charger for conversations lasting more...  0
4                                    The mic is great.  1
..                                                 ... ..
995  The screen does get smudged easily because it ...  0
996  What a piece of junk.. I lose more calls on th...  0
997                       Item Does Not Match Picture.  0
998  The only thing that disappoint me is the infra...  0
999  You can not answer calls with the unit, never ...  0

[1000 rows x 2 columns]

## Merge the data

Merge all three datasets.

In [7]:
# ANSWER
df = yelp_df.append(imdb_df)
df = df.append(amazon_df)
df

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  The screen does get smudged easily because it ...  0
996  What a piece of junk.. I lose more calls on th...  0
997                       Item Does Not Match Picture.  0
998  The only thing that disappoint me is the infra...  0
999  You can not answer calls with the unit, never ...  0

[2748 rows x 2 columns]

In [8]:
df['text'] = df.iloc[:,0]
df['sentiment'] = df.iloc[:,1]

In [9]:
df = df[['text','sentiment']]
df = df.reset_index(drop=True)
df

                                                   text sentiment
0                              Wow... Loved this place.         1
1                                    Crust is not good.         0
2             Not tasty and the texture was just nasty.         0
3     Stopped by during the late May bank holiday of...         1
4     The selection on the menu was great and so wer...         1
...                                                 ...       ...
2743  The screen does get smudged easily because it ...         0
2744  What a piece of junk.. I lose more calls on th...         0
2745                       Item Does Not Match Picture.         0
2746  The only thing that disappoint me is the infra...         0
2747  You can not answer calls with the unit, never ...         0

[2748 rows x 2 columns]

## Export the data

Export merged datasets to as csv file.

In [65]:
# ANSWER
df.to_csv('movie_review')

## Prepare the stage
- Load spaCy

In [10]:
nlp = spacy.load('en_core_web_sm')

## Prepare the text
All the text handling and preparation concerned with the changes and modifications from the raw source text to a format that will be used for the actual processing, things like:
- handle encoding
- handle extraneous and international charaters
- handle simbols
- handle metadata and embeded information
- handle repetitions (such multiple spaces or newlines)

Clean text.

In [11]:
def clean_text(text):
    # reduce multiple spaces and newlines to only one
    text = re.sub(r'(\s\s+|\n\n+)', r'\1', text)
    # remove double quotes
    text = re.sub(r'"', '', text)

    return text

In [0]:
# ANSWER

In [66]:
df

                                                   text sentiment
0                              Wow... Loved this place.         1
1                                    Crust is not good.         0
2             Not tasty and the texture was just nasty.         0
3     Stopped by during the late May bank holiday of...         1
4     The selection on the menu was great and so wer...         1
...                                                 ...       ...
2743  The screen does get smudged easily because it ...         0
2744  What a piece of junk.. I lose more calls on th...         0
2745                       Item Does Not Match Picture.         0
2746  The only thing that disappoint me is the infra...         0
2747  You can not answer calls with the unit, never ...         0

[2748 rows x 2 columns]

## Work the text
Concern with the meaning and the substance of the content to extract actual information.

Hint: Use techniques learned in previous labs. Remove StopWords, Punctuation, Lemmatize etc.

In [0]:
def convert_text(text):
    '''
    Use techniques learned in previous labs. Remove StopWords, Punctuation, Lemmatize etc.
    '''   
    
    return text

In [12]:
import nltk
stopWords = nltk.corpus.stopwords.words('english')

In [13]:
wl = nltk.stem.WordNetLemmatizer()

short = []

for i in range(len(df['text'])):
    jin = df.text[i].lower()
    jin = re.sub('[!"#\$%&\'()*+,/:@#$%^&*:]', ' ', jin)
    jin = re.sub('\.', ' ', jin)
    jin = re.sub('\s+', ' ', jin )
    
    tokens = nltk.word_tokenize(jin)
    
    tokens_without_sw = [word for word in tokens if not word in stopWords]
    
    lemma = ' '.join([wl.lemmatize(word) for word in tokens_without_sw])
    
    short.append(lemma)

In [14]:
df['short'] = short

In [15]:
df

,text,sentiment,short
0,Wow... Loved this place.,1,wow loved place
1,Crust is not good.,0,crust good
2,Not tasty and the texture was just nasty.,0,tasty texture nasty
3,Stopped by during the late May bank holiday of...,1,stopped late may bank holiday rick steve recom...
4,The selection on the menu was great and so wer...,1,selection menu great price
...,...,...,...
2743,The screen does get smudged easily because it ...,0,screen get smudged easily touch ear face
2744,What a piece of junk.. I lose more calls on th...,0,piece junk lose call phone
2745,Item Does Not Match Picture.,0,item match picture
2746,The only thing that disappoint me is the infra...,0,thing disappoint infra red port irda
2747,"You can not answer calls with the unit, never ...",0,answer call unit never worked

In [17]:
%%time
# df['short'] = df['text'].apply(convert_text)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs

In [18]:
df.sample(10)

,text,sentiment,short
128,I wouldn't return.,0,return
1049,The acting helps the writing along very well (...,1,acting help writing along well maybe idiot-sav...
1331,(very serious spoilers) this movie was a huge ...,0,serious spoiler movie huge disappointment
598,I really enjoyed Crema Café before they expand...,1,really enjoyed crema café expanded ; even told...
201,Food was great and so was the serivce!,1,food great serivce
681,Your staff spends more time talking to themsel...,0,staff spends time talking
283,"This place is not quality sushi, it is not a q...",0,place quality sushi quality restaurant
348,5 stars for the brick oven bread app!,1,5 star brick oven bread app
11,Would not go back.,0,would go back
1294,But this movie really got to me.,1,movie really got

## Modelling

In [19]:
# helper function to show results and charts
def show_summary_report(actual, prediction):

    if isinstance(actual, pd.Series):
        actual = actual.values
    if actual.dtype.name == 'object':
        actual = actual.astype(int)
    if prediction.dtype.name == 'object':
        prediction = prediction.astype(int)

    accuracy_ = accuracy_score(actual, prediction)
    precision_ = precision_score(actual, prediction)
    recall_ = recall_score(actual, prediction)
    roc_auc_ = roc_auc_score(actual, prediction)

    print('Accuracy : %.4f [TP / N] Proportion of predicted labels that match the true labels. Best: 1, Worst: 0' % accuracy_)
    print('Precision: %.4f [TP / (TP + FP)] Not to label a negative sample as positive.        Best: 1, Worst: 0' % precision_)
    print('Recall   : %.4f [TP / (TP + FN)] Find all the positive samples.                     Best: 1, Worst: 0' % recall_)
    print('ROC AUC  : %.4f                                                                     Best: 1, Worst: < 0.5' % roc_auc_)
    print('-' * 107)
    print('TP: True Positives, FP: False Positives, TN: True Negatives, FN: False Negatives, N: Number of samples')

    # Confusion Matrix
    mat = confusion_matrix(actual, prediction)

    # Precision/Recall
    precision, recall, _ = precision_recall_curve(actual, prediction)
    average_precision = average_precision_score(actual, prediction)
    
    # Compute ROC curve and ROC area
    fpr, tpr, _ = roc_curve(actual, prediction)
    roc_auc = auc(fpr, tpr)

    # plot
    fig, ax = plt.subplots(1, 3, figsize = (18, 6))
    fig.subplots_adjust(left = 0.02, right = 0.98, wspace = 0.2)

    # Confusion Matrix
    sns.heatmap(mat.T, square = True, annot = True, fmt = 'd', cbar = False, cmap = 'Blues', ax = ax[0])

    ax[0].set_title('Confusion Matrix')
    ax[0].set_xlabel('True label')
    ax[0].set_ylabel('Predicted label')
    
    # Precision/Recall
    step_kwargs = {'step': 'post'}
    ax[1].step(recall, precision, color = 'b', alpha = 0.2, where = 'post')
    ax[1].fill_between(recall, precision, alpha = 0.2, color = 'b', **step_kwargs)
    ax[1].set_ylim([0.0, 1.0])
    ax[1].set_xlim([0.0, 1.0])
    ax[1].set_xlabel('Recall')
    ax[1].set_ylabel('Precision')
    ax[1].set_title('2-class Precision-Recall curve')

    # ROC
    ax[2].plot(fpr, tpr, color = 'darkorange', lw = 2, label = 'ROC curve (AUC = %0.2f)' % roc_auc)
    ax[2].plot([0, 1], [0, 1], color = 'navy', lw = 2, linestyle = '--')
    ax[2].set_xlim([0.0, 1.0])
    ax[2].set_ylim([0.0, 1.0])
    ax[2].set_xlabel('False Positive Rate')
    ax[2].set_ylabel('True Positive Rate')
    ax[2].set_title('Receiver Operating Characteristic')
    ax[2].legend(loc = 'lower right')

    plt.show()
    
    return (accuracy_, precision_, recall_, roc_auc_)

In [20]:
# Features and Labels
X = df['short']
y = df['sentiment']

# split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## Use Bag-of-Words

In [21]:
# create a matrix of word counts from the text
counts = CountVectorizer()

In [22]:
# do the actual counting
A = counts.fit_transform(X_train, y_train)

In [26]:
pd.DataFrame(A.todense(), columns=counts.get_feature_names()).head()

,00,10,100,11,12,13,15,15g,15pm,17,...,yucky,yukon,yum,yummy,yun,z500a,zero,zillion,zombie,zombiez
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# create a classifier using SVC
classifier = SVC(kernel='linear', probability=True)

In [24]:
# train the classifier with the training data
classifier.fit(A.toarray(), y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [25]:
# do the transformation for the test data
# NOTE: use `transform()` instead of `fit_transform()`
B = counts.transform(X_test)

In [27]:
# make predictions based on the test data
predictions = classifier.predict(B.todense())
predictions

# any suggestions on fixing this issue?

array(['1', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0',
       '1', '1', '0', '1', '0', '1', '0', '0', '1', '0', '0', '1', '0',
       '1', '1', '1', '0', '1', '1', '0', '0', '1', '1', '1', '0', '1',
       '1', '1', '1', '1', '0', '1', '0', '0', '1', '1', '0', '0', '0',
       '1', '0', '1', '0', '1', '0', '0', '0', '0', '0', '1', '0', '0',
       '0', '0', '1', '1', '0', '1', '1', '0', '1', '0', '1', '0', '0',
       '1', '0', '1', '0', '1', '0', '1', '1', '0', '0', '1', '1', '0',
       '1', '0', '0', '0', '0', '0', '1', '1', '0', '1', '1', '1', '0',
       '1', '1', '1', '1', '0', '1', '1', '0', '1', '0', '0', '0', '0',
       '0', '0', '1', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0',
       '0', '1', '0', '0', '1', '0', '1', '1', '1', '1', '0', '1', '1',
       '1', '0', '0', '0', '1', '0', '0', '0', '0', '1', '0', '0', '1',
       '0', '0', '1', '0', '0', '0', '1', '0', '0', '1', '1', '1', '1',
       '0', '0', '0', '0', '0', '0', '1', '1', '0', '0', '0', '1', '0',
       '1', '0', '1', '1', '0', '0', '0', '0', '1', '1', '1', '0', '1',
       '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1',
       '1', '1', '0', '1', '1', '1', '1', '1', '0', '0', '1', '0', '0',
       '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '1',
       '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '1',
       '0', '0', '0', '1', '1', '1', '0', '0', '1', '0', '1', '0', '0',
       '0', '1', '1', '1', '1', '1', '0', '1', '1', '1', '0', '0', '0',
       '1', '1', '0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '1',
       '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '0', '1', '1', '1', '1', '1', '0', '1', '0', '0',
       '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0', '1',
       '0', '0', '0', '1', '1', '1', '0', '0', '0', '1', '1', '0', '1',
       '1', '1', '1', '0', '1', '1', '0', '1', '0', '1', '1', '0', '0',
       '0', '0', '1', '0', '1', '0', '0', '1', '0', '1', '0', '0', '0',
       '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '1', '0', '0',
       '1', '0', '1', '0', '0', '0', '1', '1', '0', '1', '1', '0', '1',
       '0', '1', '0', '1', '0', '0', '0', '0', '1', '1', '0', '0', '1',
       '0', '0', '0', '1', '1', '1', '1', '1', '1', '0', '0', '0', '1',
       '1', '1', '0', '1', '1', '1', '0', '0', '1', '1', '1', '0', '0',
       '0', '1', '0', '1', '1', '0', '0', '1', '1', '1', '0', '1', '1',
       '1', '0', '0', '1', '0', '0', '1', '0', '1', '0', '1', '0', '0',
       '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '0',
       '1', '1', '1', '0', '0', '0', '1', '1', '1', '0', '0', '1', '0',
       '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '1',
       '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '1', '1', '1',
       '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0', '0',
       '1', '0', '0', '1', '0', '0', '0', '0', '1', '1', '1', '0', '1',
       '1', '0', '1', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1',
       '1', '0', '0', '0'], dtype=object)

In [28]:
# check the accuracy
print('Accuracy: %.4f' % accuracy_score(y_test, predictions))

Accuracy: 0.7709

## Repeat using TF-IDF
TF-IDF = Term Frequency - Inverse Document Frequency

In [29]:
# create a matrix of word counts from the text
# use TF-IDF
tfidf = TfidfVectorizer()
# do the actual counting
A = tfidf.fit_transform(X_train, y_train)

# train the classifier with the training data
classifier.fit(A.toarray(), y_train)

# do the transformation for the test data
# NOTE: use `transform()` instead of `fit_transform()`
B = tfidf.transform(X_test)

# make predictions based on the test data
predictions = classifier.predict(B.todense())

# check the accuracy
print('Accuracy: %.4f' % accuracy_score(y_test, predictions))

Accuracy: 0.7782

## Repeating it all for comparision
Repeating the whole lot in one big block

Find 'Accuracy', 'Precision', 'Recall', 'ROC_AUC' using CountVectorizer and TfidfVectorizer and keep the result in a dataframe.

In [0]:
# ANSWER
def show_summary_report(actual, prediction):

    if isinstance(actual, pd.Series):
        actual = actual.values.astype(int)
    prediction = prediction.astype(float)
    prediction_int = prediction.astype(int)

    print('Accuracy : %.4f [TP / N]         Best: 1, Worst: 0' %
          accuracy_score(actual, prediction_int))
    msg = '           Proportion of predicted labels that match the true labels.'
    print(msg)
    print('Precision: %.4f [TP / (TP + FP)] Best: 1, Worst: 0' %
          precision_score(actual, prediction_int))
    msg = '           Not to label a negative sample as positive.'
    print(msg)
    print('Recall   : %.4f [TP / (TP + FN)] Best: 1, Worst: 0' %
          recall_score(actual, prediction_int))
    msg = '           Find all the positive samples.'
    print(msg)
    print('ROC AUC  : %.4f                  Best: 1, Worst: < 0.5' %
          roc_auc_score(actual, prediction))
    print('-' * 80)
    print('TP: True Positives, FP: False Positives,')
    print('TN: True Negatives, FN: False Negatives,')
    print('N: Number of samples')

    # Confusion Matrix
    mat = confusion_matrix(actual, prediction_int)

    # Precision/Recall
    precision, recall, _ = precision_recall_curve(actual, prediction)

    # Compute ROC curve and ROC area
    fpr, tpr, _ = roc_curve(actual, prediction)
    roc_auc = auc(fpr, tpr)

    # plot
    fig, ax = plt.subplots(1, 3, figsize=(18, 6))
    fig.subplots_adjust(left=0.02, right=0.98, wspace=0.2)

    # Confusion Matrix
    sns.heatmap(mat.T, square=True, annot=True, fmt='d',
                cbar=False, cmap='Blues', ax=ax[0])

    ax[0].set_title('Confusion Matrix')
    ax[0].set_xlabel('True label')
    ax[0].set_ylabel('Predicted label')

    # Precision/Recall
    step_kwargs = {'step': 'post'}
    ax[1].step(recall, precision, color='b', alpha=0.2, where='post')
    ax[1].fill_between(recall, precision, alpha=0.2, color='b', **step_kwargs)
    ax[1].set_ylim([0.0, 1.0])
    ax[1].set_xlim([0.0, 1.0])
    ax[1].set_xlabel('Recall')
    ax[1].set_ylabel('Precision')
    ax[1].set_title('2-class Precision-Recall curve')

    # ROC
    ax[2].plot(fpr, tpr, color='darkorange', lw=2,
               label='ROC curve (AUC = %0.2f)' % roc_auc)
    ax[2].plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--')
    ax[2].set_xlim([0.0, 1.0])
    ax[2].set_ylim([0.0, 1.0])
    ax[2].set_xlabel('False Positive Rate')
    ax[2].set_ylabel('True Positive Rate')
    ax[2].set_title('Receiver Operating Characteristic')
    ax[2].legend(loc='lower right')

    plt.show()

In [ ]:
y_train_pred = model.predict(X_train)

In [ ]:
show_summary_report(y_train, y_train_pred)



---



---



> > > > > > > > > © 2021 Institute of Data


---



---